<div class="jumbotron" ng-controller="MainController" ng-init="setup()">
  <h1>It's a beautiful day!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Write down three things you are happy about.
  </p>
  <p>It can be something very simple like the food you just ate or something very complex like the family you have.</p>

  <div class="form-group">
    <input class="form-control" ng-model="firstAnswer" type="text" placeholder="First thing???"/>
  </div>
  <div class="form-group">
    <input class="form-control" ng-model="secondAnswer" type="text" placeholder="Second thing???"/>
  </div>

  <div class="form-group">
    <input class="form-control" ng-model="thirdAnswer" type="text" placeholder="Third thing???"></input>
  </div>

  <div class="form-group">
    <p><a class="btn btn-lg btn-success" ng-click="printEverything()">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
  </div>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    Data from research goes here.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
